body{
	background-image:url('/static/css/icon/bakcground.png');
	background-repeat:repeat;
	background-size:100% 100%;
}
#diary_title{
	margin-top:10px;
}
#diary_title > span{
	background-color:rgba(255,255,255,0.8);
	color:rgb(122,0,0);
}
#diary_content {
	margin-top:10px;
	margin-bottom:10px;
	font-size: 16px;
	height: auto;
	min-height:300px;
	overflow: scroll;
	resize: both;
	
}
.img_div {
	margin:5px;
	padding:5px;
	height:300px;
	width:580px;
	outline:1px solid black;
	overflow:hidden;
	background-size:300px auto;
	background-position:center;
	background-repeat: no-repeat;
}
div > img {
	width:100%;
	height:auto;
}
#editor_content{
	background-color:rgba(255,255,255,0.7);
	color:rgb(122,0,0);
}
#editor_toolbar{
	width:100%;
	min-height: 50px;
	background:rgba(255,255,255,0.3);
}
#add_diary_photo{
	opacity:0;
	position:absolute;
	top:0px;
	left:0px;
	width:36px;
	height:30px;
}
