body {
	width:100%;
	margin:0;
	background-image:url('/static/css/icon/bakcground.png');
	background-repeat:repeat;
	background-size:100%;
}
html,body,article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
strong { font-weight: bold; }
/* =================================================== */
.wireframe{
	outline:black 2px solid;
}
#header{
	margin-top:70px;
}
#header_info{
}
#head_img{
	/*margin-top:-25%;*/
	z-index:5;
}
#header_background{
	position:absolute;
	left:0px;
	width:100%;
	z-index:-10;
}
#header_info{
	margin-top:-50px;
}
#snp{
	position:absolute;
	width:100%;
	padding-left:0px;
	padding-right:0px;
	min-height:40px;
	z-index:10;
}
#search_n_add{
	float: right;
}
#search{
	float:right;
	position:absolute;
	left:81.5%;
	margin-top:2px;
	/*margin-left:-41px;*/
}
#plus{
	float:right;
	position:absolute;
	left:81.5%;
	margin-top:2px;
	/*margin-left:41px;	*/
}
#today{
	font-weight: bold;
}
.header-text{
	position:relative;
	color:white;
	text-align:center;
	white-space:nowrap;
	letter-spacing: 1px;
	font-weight:100;
	font-family:"Ubuntu";
	/*font-family:"Ubuntu", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";	*/
}
#function_div{
	position:relative;
	height:100px;
	margin-top:-200px;
	margin-left:20px;
}
#diary{
	height:40px;
	margin-left:40px;
	margin-bottom:10px;
}
.line{
	width:2px;
	height:72px;
	background-color:rgb(255,255,255);
	margin-left:50%;
}
.header_line{
	margin-left:50%;
	/*margin-top:67px;*/
	width:2px;
	background-color:rgb(255,255,255);
}
.line_repeat{
	height:82px !important;
}
.diary_date{
	position: relative;
	border-radius:50%;
	margin-left:50%;
	/*margin-left:30px;*/
	text-align: center;
	color:white;
	border:rgb(255,255,255) 2px solid;
	margin-top:10px;
	margin-bottom:10px;
}
.diary_date_repeat{
	height:30px;
	width:30px;
	border-radius:50%;
	margin-left:50%;
}
.diary_title{
	color:rgb(255,255,255);
	width:100%;
	position:relative;
	font-size:25px;
	line-height:27px;
	font-weight:100;
	font-family:"Ubuntu";
	/*font-family:"Ubuntu", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";*/
	white-space:nowrap;
	padding:5px 0px;
}
.diary_func_div{
	font-size: 14px;
	position: absolute;
	height: 35px;
	width: 35px;
	margin-top: -41px;
	border-radius: 5px;
	overflow: hidden;
	z-index:10;
}
.diary_func_div > img{
	margin:10px 5px 0px 5px;
	width:auto;
	height:25px;
	float:right;
}
.diary_photo{
	margin-top:10px;
	height:120px;
	width:auto;
	overflow:hidden;
}
.photo_drag{
	height:100%;
	width:auto;
}
.photo_drag > img{
	float:left;
	height:100%;
	width:auto;
	margin-left:5px;
}
.diary_panel{
	margin-top:10px;
	height:190px;
}
#diary_container{
	overflow:scroll;
	--webkit-overflow-scrolling: touch;
}
.diary_content{
	background-color:rgba(178,178,178,0.3);
	/*border:rgba(255,255,255,0.3) solid 5px;*/
	/*-webkit-background-clip:padding-box;   for Safari 
	background-clip:padding-box;           for IE9+, Firefox 4+, Opera, Chrome */
	border-radius:5px;
	height:100%;
	width:100%;
	padding-right:0px;
	/*padding:0px 20px;*/
}
#diary_tank{
	position:relative;
	float:left;
	border-radius:50%;
	border:white 2px solid;
}
#diary_tank >img{
	width:87%;
	height:auto;
	margin-top:10%;
	margin-left:5%;
}
#slider_tank{
	margin-left:10%;
	position:relative;
	float:left;
	border-radius:50%;
	border:rgba(255,255,255,0.3) 2px solid;
}
#slider_tank > img{
	width:87%;
	height:auto;
	/*height:64%;*/
	margin-top:12%;
	margin-left:6%;
}
#diary_divied{
	position:relative;
	height:50px;
}
#diary_line{
	margin-left:79px;
	width:2px;
	/*height:100px;*/
	background-color:rgb(255,255,255);
}
.arrow-down{
	margin-top:15%;
	width:0px;
	height:0px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;	
	border-top: 15px solid rgb(255,255,255);
}
.hide{
	display:none;
}
.search_div{
	text-align:center;
	float:left;
	width:50%;
	height:50px;
	line-height:50px;
}
.modal-body > div > i{
	border-radius:50px;
	border:10px rgb(178,192,178) solid;
	background-color:rgb(178,192,178);
}


