body{
	background-image:url('/static/css/icon/bakcground.png');
	background-repeat:repeat;
	background-size:100% 100%;
}
#title{
	margin-top:5px;
	margin-top:5px;
	height:40px;
	font-size: 20px;
	line-height:40px;
	color:rgb(122,0,0);
	background-color:rgba(255,255,255,0.3);
	border-radius: 5px;
	border:rgba(255,255,255,0.5) 2px solid;
}
#content{
	background-color:rgba(255,255,255,0.3);
	border:rgba(255,255,255,0.5) 2px solid;
	border-radius: 5px;
	color:rgb(122,0,0);
	font-size:20px;
	line-height:30px;
	margin-top:2%;
	margin-bottom:2%;
	overflow:scroll;
}
#content > img{
	width:100%;
}