.wireframe{
	border:black solid 2px;
}
body{
	background-image:url('/static/css/icon/bakcground.png');
	background-repeat:repeat;
	background-size:100% 100%;
}
#head{
	padding-left:5%;
	padding-right:5%;
	border:rgba(255,255,255,0.3) solid 2px;
	border-radius:10px;
}
#slide_title{
	background-color:transparent;
	width:100%;
	height:45px;
}
#slide_des{
	background-color:transparent;
	width:100%;
	height:45px;
}
.input_decoration{
	height:8px;
	border-right:rgba(255,255,255,0.3) 2px solid;
	border-left:rgba(255,255,255,0.3) 2px solid;
	border-bottom:rgba(255,255,255,0.3) 2px solid;
}
/* placeholder color change */
::-webkit-input-placeholder { /* WebKit browsers */
	font-size:18px;
	letter-spacing:1px;
	line-height:28px;
    color:rgba(255,255,255,1);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    font-size:18px;
	letter-spacing:1px;
	line-height:28px;
    color:rgba(255,255,255,1);
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    font-size:18px;
	letter-spacing:1px;
	line-height:28px;
    color:rgba(255,255,255,1);
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    font-size:18px;
	letter-spacing:1px;
	line-height:28px;
    color:rgba(255,255,255,1);
}
/* placeholder color change */
#est_date{
	text-align:right;
	margin-top:15px;
	color:rgba(255,255,255,1);
	font-size:18px;
	letter-spacing:1px;
	line-height:28px;
	height:28px;	
}
#slide_toolbar{
	height:1px;
}
#slide_toolbar>div{
	float:left;
	width:13%;
	height:auto;
	border-radius: 50%;
	border:rgba(255,255,255,0.3) 2px solid;
	background-image:linear-gradient(to top,rgba(122,0,0,0.3) 50%,rgba(150,0,0,0.6) 50%);
	margin-left:10px;
}
#slide_toolbar>div>img{
	width:68%;
	height:auto;
}
#tip{
	height:20px;
	font-size:16px;
	line-height:20px;
	text-align:right;
	color:rgba(255,255,255,1);
	letter-spacing:2px;
	margin-top:5px;
	padding-right:10%;
}
.page_switch{
	width:50%;
	text-align:center;
}
.page_switch>a{
	background-color:transparent !important;
}
#all_album>a{
	color:white;
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;

}
#sort_photo>a{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	border-right:rgba(188,188,188,1) solid 1px;
	border-top:rgba(188,188,188,1) solid 1px;
	border-left:rgba(188,188,188,1) solid 1px;
	border-bottom:rgba(255,255,255,1) solid 1px;
	color:rgba(188,188,188,1);	
}
#photo_tank{
	border-right:rgba(188,188,188,1) solid 1px;
	border-left:rgba(188,188,188,1) solid 1px;
	border-bottom:rgba(188,188,188,1) solid 1px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	margin-bottom:10px;
}
#selected_photo{
	border-right:rgba(188,188,188,1) solid 1px;
	border-left:rgba(188,188,188,1) solid 1px;
	border-bottom:rgba(255,255,255,1) solid 1px;
	padding-left:15px;
	padding-right:15px;
}
.imgDiv{
	margin-top:5px;
	float:left;
	width:50%;
	height:200px;
}
.imgDiv>img{
	opacity:0.3;
}
#search_tank{
	border-right:rgb(255,255,255) 1px solid;
	border-left:rgb(255,255,255) 1px solid;
	width:100%;
	height:50px;
}
.check_box {
	z-index:10;
	position: absolute;
	float:right;
	margin-left:40%;
	margin-top:10px;
    width:20px;
    height:20px;
}
.check_box > img{
	opacity: 1;
	position:absolute;
	width:100%;
    height:100%;
}
.widthMax{
	width: 100%;
	height:auto;
}
.heightMax{
	height: 100%;
	width:auto;	
}
.square{
	max-height:100%;
	max-width:100%;
}
.sort_example{
	background-color:#505050;
}
.hide{
	display:none;
}
.show{
	display: block;
}
.order_mask{
	position:absolute;
	background-color: gray;
	opacity: 0;
	font-size: 50px;
	color:white;
}
#modal_window{
	background-color: #050505;
}
#plus{
	position:absolute;
	background-color:transparent;
	z-index:5;
}
#photo_describe{
	border:black 2px solid;
	border-radius: 4px;
	margin-bottom:10px;
}
#adjust_footer{
	background-color:white;
	border:2px solid white;
	border-radius:2px;
}