<!DOCTYPE html>
<html>
	<head>
		<title>Diary Content</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link rel="stylesheet" href="/static/css/reset.css"/>
		<link rel="stylesheet" href="/static/css/bootstrap.css"/>
		<link rel="stylesheet" href="/static/css/DiarySetting.css"/>
		<link rel="stylesheet" href="/static/external/google-code-prettify/prettify.css"/>
		<link rel="stylesheet" href="/static/css/font-awesome.css">
		<script src="/static/js/plugin/jquery-1.8.min.js"></script>
		<script src="/static/js/plugin/bootstrap.js"></script>
		<script src="/static/js/plugin/bootstrap-wysiwyg.js"></script>
		<script src="/static/external/jquery.hotkeys.js"></script>
		<script src="/static/external/google-code-prettify/prettify.js"></script>
	</head>

	<body>
		<div class="container">
			<div class="row">
				<!-- <div id="diary_title" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"  contenteditable="true"></div> -->
				<div id="diary_title" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 input-group">
					<span class="input-group-addon">日記主題:</span>
					<input id="title" type="text" class="form-control" value="{{title|safe}}" placeholder="長度限制10字"/>
				</div>
			</div>
		</div>
		
		<div id="diary_content" class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="outline:2px solid rgba(255,255,255,0.3); padding-left:0px; padding-right:0px;">
					{{editor_template|safe}}
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="margin-top:10px;">
					<div id="save_diary" class="btn btn-lg btn-danger"><i class="glyphicon glyphicon-floppy-save"></i>儲存內容</div>
				</div>
			</div>
		</div>		

		<script src="/static/js/DiarySetting.js"></script>
		<script src="/static/js/plugin/jQuery_align_fn.js"></script>
	</body>
</html>