﻿<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<link  rel="stylesheet" href="/static/css/bootstrap.css"/>
		<link rel="stylesheet" href="/static/css/jquery-ui-1.10.4.custom.css"/>
		<link rel="stylesheet" href="/static/css/font-awesome.css">
		<link  rel="stylesheet" href="/static/css/home.css"/>
		<script src="/static/js/plugin/jquery-1.8.min.js"></script>
		<script src="/static/js/plugin/bootstrap.js"></script>
		<script src="/static/js/plugin/jquery-ui-1.10.4.custom.js"></script>
		<script src="/static/js/plugin/TweenMax.min.js"></script>
		<title>home.htm</title>
	</head>

	<body>
		<div class="container">
			<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="padding-left:0px; padding-right:0px;">
				<div id="header" style=" width:100%; padding-left:0px; padding-right:0px;">
					<div style="width:36%; padding:0px; float:left; min-height:50px"></div>
					<div  id="header_info" style="width:35%; float:left;">
						<p id="today" class="header-text">{{date|safe}}</p>
						<p id="weekday" class="header-text">{{weekday|safe}}</p>
						<p id="greeting" class="header-text">Hi, {{user_name|safe}}</p>
						<p id="festival" class="header-text">{{festival|safe}}</p>
					</div>
					<div id="head_div" style="width:29%; padding-left:5px; padding-right:5px; float:left; z-index:5;">
						<img id="head_img" src="{{head|safe}}"/>
					</div>
					<img id="header_background" src="/static/css/icon/arc.png"/>
					<div id="snp">
						<div>
							<img id="search_n_add" 	class="pull-right" style="width:37%;" src="/static/css/icon/snp_background.png"/>
							<img id="plus" src="/static/css/icon/add.png" />
							<img id="search" src="/static/css/icon/search.png" />
						</div>
						
					</div>
				</div>
				<div id="diary_container" class="container" style=" width:100%;">
					{{ user_diary | safe }}
				</div>
				
				<div id="search_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
								<h4 class="modal-title">日期搜索:</h4>
							</div>
							<div class="modal-body" style="min-height:190px">
								<div id="year_up" class="search_div"><i class="fa fa-angle-up fa-lg"></i></div>
								<div id="month_up" class="search_div"><i class="fa fa-angle-up fa-lg"></i></div>
								<div id="search_year" class="search_div">{{YY|safe}}</div>
								<div id="search_month" class="search_div">{{MM|safe}}</div>
								<div id="year_down" class="search_div"><i class="fa fa-angle-down fa-lg"></i></div>
								<div id="month_down" class="search_div"><i class="fa fa-angle-down fa-lg"></i></div>
							</div>
							<div class="modal-footer">
								<button id="diary_search" type="button" class="btn btn-primary"><i class="glyphicon glyphicon-search"></i></button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div style="position:fixed; top:88px; width:100%">
			<div class="container" >
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="padding-left:0px; padding-right:0px;">
					<div class="container">
						<div class="row">
							<div class="col-xs-2">
								<div id="diary_tank" >
									<img src="/static/css/icon/book2.png" />
									<div class="arrow-down"></div>
								</div>
								<div class="header_line"></div>
							</div>
							<div class="col-xs-2">
								<div id="slider_tank">
									<img src="/static/css/icon/slider.png" />
								</div>
							</div>
							<div class="col-xs-8"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="/static/js/home.js"></script>
	</body>
	
</html>