<!DOCTYPE html>

<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<title>index.html</title>
		<script src="/static/js/plugin/jquery-1.8.min.js"></script>
		<style>
			body {
				width:100%;
				margin:0;
				overflow:hidden;
			}
			html,body,article, aside, canvas, details, embed, 
			figure, figcaption, footer, header, hgroup, 
			menu, nav, output, ruby, section, summary,
			time, mark, audio, video, input {
				margin: 0;
				padding: 0;
				border: 0;
				font-size: 100%;
				font: inherit;
				vertical-align: baseline;
			}

			strong { font-weight: bold; }
			#all_screen{
				background: -webkit-radial-gradient(50% 35%,circle,#d900d9 12%,#9200c3 83%,#a300d9);
				background: -moz-radial-gradient(50% 35%,circle,#d900d9 12%,#9200c3 83%,#a300d9);
				background: -o-radial-gradient(50% 35%,circle,#d900d9 12%,#9200c3 83%,#a300d9);
				background: radial-gradient(50% 35%,circle,#d900d9 12%,#9200c3 83%,#a300d9);
			}
			.front{
				position:absolute;
				left:50%;
				top:38%;
			}
			#logo{
				height:195px;
				width:195px;
			}
			.text{
				text-align: center;
				text-decoration: none;
				color:white;
				font-family:"Ubuntu", "sans-serif", "Lucida Grande", "Lucida Sans Unicode", "Helvetica","Arial", "Verdana", "sans-serif";
			}
			#login{
				height:50px;
				width:170px;
				/*overflow:hidden;*/
			}
			#login > a {
				width:170px;
				height:50px;
				line-height: 50px;
				letter-spacing:8px;
			}
			#cliders{
				color:white;
				font-size: 38px;
				margin-top:105px;
				background-color:transparent;
				font-family: "Apple ligothic";
				letter-spacing:4px;
			}
			#slogon{
				color:yellow;
				font-size:24px;
				margin-top:150px;
				font-family: "Bangla MN";
			}
			#login_btn{
				position:absolute;
				font-family:"amatraca grotesque";
			}
		</style>
	</head>

	<body>
		<div id="all_screen">
			<div id="cliders" class="front text">CLIDERS</div>
			<div id="slogon" class="front text">Share your life</div>
			<img id="logo" class="front text" src="/static/css/icon/logo.png" />
			<div id="login" class="front">
				<a id="login_btn" class="text" href={% url "social:begin" 'facebook' %}?next={{ request.path }}><img src="/static/css/icon/login.png"/></a>
			</div>
			
			<!-- <a href="/Logout/">Facebook Logout</a> -->
		</div>
		<script>
			var win_height = $(document).height();
			var win_width = $(document).width();
			var $logo = $("#logo");
			var $login = $("#login");
			var $div = $("div",$login);
			var $login_btn = $("#login_btn")
			var $cliders = $("#cliders");
			var $slogon = $("#slogon");
			$("#all_screen").width(win_width).height(win_height);
			$logo.css('margin-left',-$logo.width()/2).css('margin-top',-$logo.height()/2);
			$login.css('margin-left',-$login.width()/2).css('margin-top',250);
			$div.css('margin-top',($div.parent().height()-$div.height())/2).css('border-radius',$div.width()/2);
			$login_btn.css('margin-left',($login_btn.parent().width()-$login_btn.width())/2).css('margin-top',($login_btn.parent().height()-$login_btn.height())/2);
			$cliders.css('margin-left',-$cliders.width()/2);
			$slogon.css('margin-left',-$slogon.width()/2);
		</script>
	</body>
<html/>