<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
		<link  rel="stylesheet" href="/static/css/reset.css"/>
		<link  rel="stylesheet" href="/static/css/mydiary.css"/>
		<link  rel="stylesheet" href="/static/css/bootstrap.css"/>
		<script src="/static/js/plugin/jquery-1.8.min.js"></script>
		<script src="/static/js/plugin/bootstrap.js"></script>
		<title>{{ diary_title | safe }} - {{ diary_date | safe }}</title>

	</head>
	<body>
		<div  class="container">
			<div class="row">
				<div id="title" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					{{ diary_date | safe }} - {{ diary_title | safe }}
				</div>
			</div>
			<div class="row">
				<div id="content" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="padding-left:0px; padding-right:0px;">
		 			{{ diary_content | safe }} 
				</div>
			</div>
		</div>
		<script src="/static/js/mydiary.js"></script>
	</body>
</html>