<!doctype html>
<html>
	<head>
		<title>SlideSetting.htm</title>
		<link rel="stylesheet" href="/static/css/bootstrap.css"/>
		<link rel="stylesheet" href="/static/css/reset.css"/>
		<link rel="stylesheet" href="/static/css/SlideSetting.css"/>
		<link rel="stylesheet" href="/static/css/jquery-ui-1.10.4.custom.css"/>
		<script src="/static/js/plugin/jquery-1.8.min.js"></script>
		<script src="/static/js/plugin/jquery-ui-1.10.4.custom.js"></script>
		<script src="/static/js/plugin/bootstrap.js"></script>
		<script src="/static/js/plugin/TweenMax.min.js"></script>
			<!-- {{slide|safe}}
			{{slider_id|safe}} -->
	</head>
	<body>
		<!-- <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3"></div> -->
		<div class="container" style="margin-top:5%; padding-left:5%; padding-right:5%;">
			<div class="row" >
				<div id="head" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<input id="slide_title" type="text" value="{{title|safe}}" placeholder="輸入標題名稱"/>
					<div class="input_decoration"></div>
					<input id="slide_des" type="text" value="{{slide_des|safe}}" placeholder="投影片備忘描述"/>
					<div class="input_decoration"></div>
					<div id="est_date">建立日期:{{date|safe}}</div>
				</div>
				<div id="slide_toolbar" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<div><img src="/static/css/icon/save.png"></div>
					<div><img src="/static/css/icon/quit_unsave.png"></div>
				</div>
				<div id="tip" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">輕點照片後編輯照片描述</div>
				
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" style="margin-top:10px;">
					<ul class="nav nav-tabs" style="border-bottom:none;">
					  <li id="all_album" class="page_switch active" data-id="photo_tank"><a>全部照片</a></li>
					  <li id="sort_photo" class="page_switch" data-id="selected_photo"><a>已選取照片</a></li>
					</ul>
				</div>
				<div  class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
					<div id="search_tank"></div>
					<div id="photo_tank">
						{{ photos | safe }}
					</div>
				</div>
				<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 hide">
					<div id="selected_photo"></div>
				</div>
			</div>
		</div>
		<!--
		<div class="container">
			<div class="row">
				<div id="save_slide" class="btn btn-info btn-lg "><i class="glyphicon glyphicon-save"></i>儲存影片</div>
				<div id="order_photo_save" class="btn btn-info btn-lg"><i class="glyphicon glyphicon-saved"></i>儲存順序</div>
			</div>
		</div>-->

		<!-- below is the picture position adjust div, default is hidden -->
		<div class="modal fade" id="photo_adjust" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog" style="padding:0px">
				<div style="overflow:hidden;" id="modal_window">
					<div id="modal_contain"></div>
				</div>
				<div id="adjust_footer" class="modal-footer">
					<div id="photo_describe" contenteditable="true" placeholder="describe..."></div>
					<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
					<button type="button" class="btn btn-primary">儲存</button>
				</div>
			</div>
		</div> 
		<script src="/static/js/SlideSetting.js"></script>
	</body>
</html>