<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width">
		<link  rel="stylesheet" href="/static/css/bootstrap.css"/>

		<script src="/static/js/plugin/jquery-1.8.min.js"></script>
		<script src="/static/js/plugin/bootstrap.js"></script>
		<title>user_diary.htm</title>
		<script>
			var diary = '{{user_diary|safe}}';
			window.diary = JSON.parse(diary);
		</script>
	</head>
	<body>
		<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<ul class="nav nav-justified">
					<!-- <li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">2014<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="2014">2013</li>
							<li><a id="2014">2014</li>
							<li><a id="2014">2015</li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown">1<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a id="Jan">1</li>
							<li><a id="Feb">2</li>
							<li><a id="Mar">3</li>
							<li><a id="Apr">4</li>
							<li><a id="May">5</li>
							<li><a id="Jun">6</li>
							<li><a id="Jul">7</li>
							<li><a id="Aug">8</li>
							<li><a id="Sep">9</li>
							<li><a id="Oct">10</li>
							<li><a id="Nov">11</li>
							<li><a id="Dec">12</li>
						</ul>
					</li> -->
					<li id="diary_year" class="nav-pills"><a>2014</a></li>
					<li id="diary_month" class="nav-pills"><a>3</a></li>
					<button id="diary_search" type="button" class="btn btn-default nav-pills navbar-center"><i class="glyphicon glyphicon-search"></i></button>    
				</ul>
			</div>
		</nav>
		
		<script src="/static/js/user_diary.js"></script>
	</body>
</html>